body {
    background-color: bisque;
}

.paws {
    border-style: dashed;
    border-width: 5px;
    border-color: palevioletred;
    margin: 20px;
}

#whiskers {
    text-align: center;
}

#whiskers img {
    width: 300px;
    height: 300px;
}

#tails {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}